{%extends 'todo/base.html'%}
{%block content%}
<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>Task</th>
                    <th>Created Date</th>
                    <th>Created Status</th>
                </tr>
            <tr>
                <td>{{todo.title}}</td>
                <td>{{todo.created_at}}</td>
                <td>{% if todo.completed %}✔{% else %}✘{% endif %}</td>
            </tr>            
        </table>   
        <a href="{%url 'todo_list'%}" class="btn btn-outline-secondary">Go Back</a>
        <a href="{% url 'todo_update' todo.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'todo_delete' todo.pk %}" class="btn btn-outline-danger">Delete</a>
    </div>
        <div class="col-3"></div>
    </div>
</div>

{%endblock%}